# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Virtual environments
.venv/
venv/
env/

# Editors / OS
.idea/
.vscode/
.DS_Store
Thumbs.db
desktop.ini

# Logs
*.log
